//- base.pug
html
  head
    title Yash Dance Website
    block scripts
    block styles 
  body
    nav#navbar 
        ul 
            div.logo
                img(src="../static/logo.png")
                | YDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/contact") Contact Us]

    block content
    
    footer#footer 
        | Copyright 2022 &copy YashDanceAcademy.com | All Rights Reserved 